body{
    background-color: #f8f2f2;
}
.container{
    display: flex;
 justify-content: center;
}
.card{
    max-width: 350px;
    flex-wrap: wrap;
    margin: 30px;
    height: 380px;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
    padding:10px;
    position: relative;
}
.card-body{
    position: absolute;
    bottom:0;
    top:180px
}
.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page,
.next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0AB1CE;
}

.disable {
    background: #ccc;
}